.archive .collection-title {
  display: none ;
}
frame, img, video, embed {
    display: block;
    margin-left: initial;
    margin-right: initial;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.site-author-image{
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}
